@page  "{id:int}"
@using Microsoft.EntityFrameworkCore
@using RazorPagesContacts.Data
@model RazorPagesContacts.Pages.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    var rand = new Random();
    int temp = rand.Next(1,6);
    
}





<h2>Details</h2>

<h3>Name: @Model.Customer.Name      ID: @Model.Customer.Id</h3>

<a asp-page="./Index">Back</a>

<a asp-page="./Details" asp-route-id="@temp">Random</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
